* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.clearfix:after, .content:after {
  content: "";
  display: table;
  clear: both; }

.limiter {
  width: 100%;
  max-width: 960px;
  padding-left: 4vw;
  padding-right: 4vw;
  margin: auto; }

p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1em; }

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #333333; }
  a:active {
    top: 0px; }

/* LAYOUT */
body {
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 1.5em;
  background-color: white;
  color: #333333;
  display: block; }
  @media only screen and (max-width: 640px) {
    body {
      font-size: 16px; } }

header {
  width: 100%;
  height: 0px;
  background-color: #333333; }
  header h1 {
    font-size: 1.5em;
    line-height: 100px;
    color: white;
    font-weight: normal;
    float: left; }
  header nav {
    float: right; }
    header nav ul {
      list-style: none; }
      header nav ul li {
        float: left;
        color: white;
        line-height: 100px;
        margin-left: 20px; }

.main_info {
  color: #333333; }
  .main_info h1 {
    font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-top: 4vw;
    margin-bottom: 4vw; }
    .main_info h1 img {
      width: 100%; }
  .main_info h2 {
    text-align: center;
    font-weight: normal;
    margin-bottom: 4vw; }

.divider {
  display: block;
  text-align: center; }
  .divider span {
    background-color: #333333;
    z-index: 100;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-style: italic;
    line-height: 1em;
    position: relative;
    color: white; }
  .divider hr {
    display: block;
    border: 0;
    border-top: 1px solid white;
    position: relative;
    top: -0.66em;
    width: 100%;
    z-index: 50; }

.forecast {
  background-color: #333333;
  padding-top: 4vw;
  padding-bottom: 4vw; }
  .forecast .grid .row {
    display: flex;
    margin-top: 4vw; }
    .forecast .grid .row .cell {
      flex: 1;
      margin-right: 1em;
      background-color: white;
      color: #333333;
      padding: 1em;
      border-radius: 0.25em; }
      .forecast .grid .row .cell.weekend {
        opacity: 0.25; }
      .forecast .grid .row .cell:last-child {
        margin-right: 0; }
      .forecast .grid .row .cell img {
        width: 100%; }
      .forecast .grid .row .cell h2 {
        font-weight: normal;
        text-align: center;
        font-size: 1em; }

.mail {
  background-color: #e3391e;
  padding-top: 4vw;
  padding-bottom: 4vw; }
  .mail .divider span {
    background-color: #e3391e; }
  .mail a {
    display: block;
    margin-top: 4vw;
    border-bottom: 0; }
    .mail a img {
      width: 100%; }

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 5px;
  background-color: #333333; }
