{% extends "layout.html" %}

{% block body %}

<section class="main_info">
	<div class="limiter">
		<h1><img src="{{ url_for('static', filename='images/'+ ('Ja' if forecast[0].will_come else 'Nein') +'.svg') }}" alt="{{ 'Ja' if forecast[0].will_come else 'Nein' }}"></h1>
		{% if forecast[0].will_come %}
			<h2>~ {{ forecast[0].datetime.format('HH:mm') }} ({{ forecast[0].datetime.replace().humanize(locale='de') }})</h2>
		{% endif %}
	</div>
</section>

<section class="forecast">
	<div class="limiter">
		<div class="divider">
			<span>Und was ist mit den nächsten sechs Tagen?</span>
			<hr>
		</div>
		<div class="grid clearfix">
			<div class="row">
				{% for day in forecast[1:] %}
					<div class="cell {{ 'weekend' if day.weekday() == 6 or day.weekday() == 7 }}">
						<img src="{{ url_for('static', filename='images/'+ ('Ja' if day.will_come else 'Nein') +'.svg') }}" alt="{{ 'Ja' if day.will_come else 'Nein' }}">
						{% if day.will_come %}
							<h2>~ {{ day.datetime.format('HH:mm') }}</h2>
						{% elif day.weekday() == 6 or day.weekday() == 7 %}
							<h2>
							{{ 'Samstag' if day.weekday() == 6 else 'Sonntag' }}
							</h2>
						{% endif %}
					</div>
					{% if loop.index == 3 %}
						</div>
						<div class="row">
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</section>
<section class="mail">
	<div class="limiter">
		<div class="divider">
			<span>Und wenn ich ihm etwas dringendes sagen will?</span>
			<hr>
		</div>
		<a href="mailto:daniel.diekmeier@weitclick.de"><img src="{{ url_for('static', filename='images/mail.svg') }}" alt="Schreibt mir eine Mail!"></a>
	</div>
</section>

{% endblock %}